body{
  margin: 0;
  padding: 0;
  background: black;
}
.frame{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  color: white;
  background: rgb(44, 42, 42);
}
.listvid{
  background: rgb(70, 70, 63);
  width: 95%;
  height: 20%;
  margin: 5px auto;
}
.btm-ico{
  width: 98%;
  height: 11%;
  margin: 5px auto;
}
.img-list{
  display: flex;
}
.img-list button{
  width: 20%;
  height: 100%;
  margin: auto;
  background: transparent;
  border: none;
  outline: none;
}
.img-list button:active{
  background: rgb(66, 61, 61);
}
.img-list img{
  width: 100%;
  height: 100%;
}
.msg_cont{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  background: wheat;
  transform: translateY(-100%);
  transition: .3s ease-in-out;
  z-index: 3;
}
.msg_m_cont{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
.msg_viewer{
  position: absolute;
  width: 100%;
  top: 0;
  background: white;
  color: black;
  height: 93.50%;
  bottom: 40px;
  overflow: hidden;
}
.msg_list{
  width: 97%;
  margin: 5px auto;
  height: 100%;
  overflow-y: scroll;
}
.msg_list .msgbox{
  width: 100%;
  height: auto;
  border-bottom: 1px solid salmon;
}
.msgbox .uname{
  font-size: 18px;
  font-weight: bold;
}
.msgbox .rmsg{
  font-size: 16px;
  font-weight: 300;
}
.input_send{
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0;
}
.msg_close{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  z-index: 4;
  color: black;
  font-size: 24px;
}
.msg_close img{
  width: 100%;
  height: 100%;
}
.input_send textarea{
  display: block;
  padding: 2px;
  width: 90%;
  height: 40px;
  font-size: 20px;
}
.input_send button{
  display: block;
  height: 46px;
  width: 15%;
  margin: auto;
  background: transparent;
  border: none;
  outline: none;
}
.input_send button:active{
  background: rgb(66, 61, 61);
}
.input_send button img{
  width: 100%;
  height: 100%;
}
.pinvid{
  position: relative;
  background: rgb(70, 70, 63);
  width: 85%;
  margin: 5px auto;
  height: 65%;
  padding: 5px;
}
.pinvid video{
  width: 100%;
  height: 100%;
}
.mtb{
  display: none;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  z-index: 1;
}
.mtb button{
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  background: transparent;
  border: none;
  outline: none;
}
.mtb button:active{
  background: rgb(66, 61, 61);
}
.mtb button img{
  width: 100%;
  height: 100%;
}
.mtb .umt{
  display: block;
}
.mtb .mt{
  display: none;
}
.rot{
  position: absolute;
  top: 2px;
  right: 2px;
  width: 45px;
  height: 45px;
  z-index: 1;
}
.rot button{
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  background: transparent;
  border: none;
  outline: none;
}
.rot button:active{
  background: rgb(66, 61, 61);
}
.rot button img{
  width: 100%;
  height: 100%;
}
.rot .frnt{
  display: block;
}
.rot .rear{
  display: none;
}
.mvid{
  display: none;
}
.vid{
  display: block;
}
.mmute{
  display: none;
}
.mute{
  display: block;
}